@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    padding: 40px;
    font-family: "Poppins";
    font-size: 1.6rem;
}

.box {
    width: 20rem;
    height: 10rem;
    background-image: linear-gradient(to right, #3aa8ec, #52f1c4);
    border-radius: 8px;
    /* transform: scale scaleX scaleY */
    /* transform: rotate() */
    /* transform: translate translateX translateY */
    transform: scaleX(1) scaleY(1);
    transform: scaleX(0.5) scaleY(0.5);
    transform: rotate(-45deg);
    transform: translateX(10px) translateY(10px);
    transform: translateX(-50%) translateY(-50%);
    transform: skewX(-30deg) skewY(-30deg);
    transform: rotateZ(30deg);
}
