* {
    box-sizing: border-box;
}

.boxed {
    width: 200px;
    height: 200px;
    background-color: #78e4f0;
    animation-name: move;
    animation-duration: 2s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    animation-fill-mode: backwards;
    /* animation: move 2s forwards infinite alternate
        cubic-bezier(0.075, 0.82, 0.165, 1) 5s;
    animation-delay: 3s; */
}

@keyframes move {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(calc(100vw - 208px));
    }
}
