* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.menu-item {
    position: fixed;
    width: 300px;
    top: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transform: translateX(100%);
    transition: all 0.3s linear;
}

.menu-item.active {
    transform: translateX(0);
}

.menu-item .item a {
    color: #000;
    text-decoration: none;
    display: block;
    padding: 20px 32px;
    border-bottom: 1px solid #eee;
}

.menu-item .item a:hover {
    opacity: 0.6;
}

button {
    padding: 16px 60px;
    border: none;
    font-weight: bold;
    color: #fff;
    background: rgb(123, 212, 242);
    border-radius: 0.5rem;
    cursor: pointer;
}
