* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Poppins";
    font-size: 1.6rem;
    margin: 20px;
}

.img-wrap {
    text-align: center;
}

.img {
    width: 40rem;
    height: 20rem;
    object-fit: cover;
    object-position: right;
    border-radius: 16px;
}
